<div class="suggestions-wrapper">
	<div class="suggestion-cloud">
		<input id="id-input-search-box" placeholder="Start typing" ng-model="searchText" ng-change="onSearchBoxSuggestion($event)" ng-keydown="checkKeyDown($event)" type="text" class="input-xs ng-pristine ng-animate ng-invalid ng-invalid-required" style="height: 2.2em;">
	</div>
	<ul class="suggestions-list">
		<li ng-repeat="suggestion in suggestions" class="blockSpan" ng-click="onSearchBoxSearch($index)" ng-mouseover="$parent.selectedIndex=$index" ng-class="{active : selectedIndex===$index}">
			<span><img ng-src="{{suggestion.entity.artwork_url}}" height="30" width="30"></img>&nbsp;<span>{{suggestion.output}}</span></span>
		</li>
	</ul>
</div>