<ul class="icons">
	<li>
		<a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a>
	</li>
	<li>
		<a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a>
	</li>
	<li>
		<a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a>
	</li>
	<li>
		<a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a>
	</li>
	<li>
		<a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a>
	</li>
	<li>
		<a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a>
	</li>
</ul>
<ul class="copyright">
	<li>
		&copy; WiFiOneR. All rights reserved.
	</li>
	<li>
		Design: <a href="http://go4smac.com">GO4SMAC</a>
	</li>
</ul>