.d3-tooltip{
    position: absolute;
    border: 1px solid #a1a1a1;
    padding: 5px;
    background: #dddddd;
    border-radius: 4px;
    color: black;
    z-index: 1000;
    opacity: 0;
}

.sunburn-container{
    padding: 5px;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 8px;
    min-height: 291px !important;
}

.chart-summary { width: 80%; overflow:auto; margin: 0 auto; border:1px solid lightgray; border-radius: 5px;}
.chart-summary .item {}
.chart-summary .inner { padding:5px; border-radius:5px; }
.chart-summary .item .title { text-align:center; }
.chart-summary .item .bar { width:90%; height:6px; padding-top:2px; padding-bottom:2px; overflow:hidden; border-radius:5px; background-color:transparent; margin:1px auto;}
.chart-summary .item .bar .bar-inner { float:left; height:6px; cursor:pointer; box-shadow:inset 2px 0 0 0 #FFF }
.chart-summary .item .bar .bar-inner:hover { margin-bottom:-1px; margin-top:-1px; height:8px; }

.chart-summary .item .bar .bar-inner:first-child { box-shadow:none; border-top-left-radius:5px; border-bottom-left-radius:5px; }
.chart-summary .item .bar .bar-inner:last-child { border-top-right-radius:5px; border-bottom-right-radius:5px; }

.chart-summary .item .number { color:#888; text-align:center; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }