<div class="panel-query-meta row-fluid" style="width:260px">

  <style>
    .panel-query-meta fieldset label {
      margin-top: 3px;
    }
  </style>

  <hr class="small">
  <div>
    <i ng-repeat="color in querySrv.colors" class="pointer" ng-class="{'icon-circle-blank':querySrv.list[id].color == color,'icon-circle':querySrv.list[id].color != color}" ng-style="{color:color}" ng-click="querySrv.list[id].color = color;render();"> </i>
  </div>


  <div class="pull-right">
    <a class="btn btn-mini" ng-click="querySrv.list[id].enable=false;dashboard.refresh();dismiss();" class="pointer">Deactivate</a>    
    <input class="btn btn-mini" ng-click="dashboard.refresh();dismiss();" type="submit"/ value="Close">
  </div>
</div>