<div ng-controller="navigator" ng-init="init();" ng-class="panel.class">
	<!-- Navigator -->	
	<a ng-if="!panel.disabled" ng-href-void="" class="btn-back" ng-click="back()">
		<span class="cbutton cbutton--effect-tamara" ng-repeat="(name, panel) in panel.panels" ng-show="position >= ($index)">{{ panel.title }}<span ng-if="position!=$index">&nbsp;|&nbsp;</span></span>
	</a>
	<span ng-if="panel.repeat" ng-class="{ 'active': mode=='repeat' }" class="cbutton cbutton--effect-tamara pull-right padding-10"><a ng-href-void="" ng-click="onRepeatClick()">{{ panel.repeat }}</a></span>
	<span ng-if="panel.shuffer" ng-class="{ 'active': mode=='shuffer' }" class="cbutton cbutton--effect-tamara pull-right padding-10"><a ng-href-void="" ng-click="onShufferClick()">{{ panel.shuffer }}</a></span>
	<!-- Panels -->
	<div ng-repeat="(key, panel) in panel.panels" class="row-fluid">		
		<!-- Content Panel -->
		<div class="row-fluid" ng-show="position == key">			
			<ng-panel type="panel.type"></ng-panel>
		</div>
	</div>
</div>