<div ng-controller='table' ng-init='init()'>
	<div class="table-container padding-top-0">
		<div ng-class="{'table-main':panel.field_list}" class="table-doc-table">
			<div style="{{panel.overflow}}:{{panel.height||row.height}};overflow-y:auto">
				<table class="table-hover table table-condensed" ng-style="panel.style">
					<thead ng-show="panel.header">
						<th ng-show="panel.fields.length<1">_source (select columns from the list to the left)</th>
						<th style="white-space:nowrap" ng-repeat="field in panel.fields" ng-class="field.classes"><i ng-show="!$first" class="pointer link icon-caret-left" ng-click="_.move(panel.fields,$index,$index-1)"></i><span class="pointer" ng-click="set_sort(field.name)" ng-show='panel.sortable'> {{field.title}} <i ng-show='field.name == panel.sort[0]' class="pointer link" ng-class="{'icon-chevron-up': panel.sort[1] == 'asc','icon-chevron-down': panel.sort[1] == 'desc'}"></i> </span><span ng-show='!panel.sortable'>{{field.name}}</span><i ng-show="!$last" class="pointer link icon-caret-right" ng-click="_.move(panel.fields,$index,$index+1)"></i></th>
					</thead>
					<tbody bindonce ng-repeat="event in data| slice:panel.offset:panel.offset+panel.size" ng-class-odd="'odd'">
						<tr ng-click="toggle_details(event)" class="pointer">
							<td ng-if="panel.fields.length<1" bo-text="event._source|stringify|tableTruncate:panel.trimFactor:1"></td>
							<td ng-class="field.classes" ng-show="panel.fields.length>0" ng-repeat="field in panel.fields"><span ng-if="!panel.localTime || panel.timeField != field.name" bo-html="(event.kibana.highlight[field.name]||event.kibana._source[field.name]) |tableHighlight | tableTruncate:panel.trimFactor:panel.fields.length" class="table-field-value"></span><span ng-if="panel.localTime && panel.timeField == field.name" bo-html="event.sort[1]|tableLocalTime:event" class="table-field-value"></span></td>
						</tr>
						<tr ng-if="event.kibana.details">
							<td colspan={{panel.fields.length}} ng-switch="event.kibana.view"><span> View: <a class="link" ng-class="{'strong':event.kibana.view == 'table'}" ng-click="event.kibana.view = 'table'">Table</a> / <a class="link" ng-class="{'strong':event.kibana.view == 'json'}" ng-click="event.kibana.view = 'json'">JSON</a> / <a class="link" ng-class="{'strong':event.kibana.view == 'raw'}" ng-click="event.kibana.view = 'raw'">Raw</a> <i class="link pull-right icon-chevron-up" ng-click="toggle_details(event)"></i> </span>
							<table class='table table-bordered table-condensed table-details' ng-switch-when="table">
								<thead>
									<th class="table-details-field">Field</th>
									<th class="table-details-action">Action</th>
									<th class="table-details-value">Value</th>
								</thead>
								<tr ng-repeat="(key,value) in event.kibana._source track by $index" ng-class-odd="'odd'">
									<td style="word-wrap:break-word" bo-text="key"></td>
									<td style="white-space:nowrap"><i class='icon-search pointer' ng-click="build_search(key,value)" bs-tooltip="'Add filter to match this value'"></i><i class='icon-ban-circle pointer' ng-click="build_search(key,value,true)" bs-tooltip="'Add filter to NOT match this value'"></i><i class="pointer icon-th" ng-click="toggle_field(key)" bs-tooltip="'Toggle table column'"></i></td>
									<!-- At some point we need to create a more efficient way of applying the filter pipeline -->
									<td style="white-space:pre-wrap;word-wrap:break-word" bo-html="value|noXml|urlLink|stringify"></td>
								</tr>
							</table><pre style="white-space:pre-wrap;word-wrap:break-word"  bo-html="without_kibana(event)|tableJson:2" ng-switch-when="json"></pre>							<pre bo-html="without_kibana(event)|tableJson:1" ng-switch-when="raw"></pre></td>
						</tr>
					</tbody>
				</table>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-xs" ng-show="panel.download">
					<div class="">
						<a href-void="" class="btn btn-labeled btn-default margin-bottom-10" href="#" ng-click="exportData()"> <span class="btn-label"><i class="glyphicon glyphicon-download-alt"></i></span>Download</a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="dataTables_paginate paging_simple_numbers">
						<ul class="pagination">
							<li class="paginate_button previous" ng-class=" {'disabled': panel.offset > 0? false: true }" aria-controls="DataTables_Table_0" tabindex="0" id="DataTables_Table_0_previous">
								<a href="#" class="disabled" ng-click="onPageBack()">Previous</a>
							</li>
							<li class="paginate_button active" aria-controls="DataTables_Table_0" tabindex="0">
								<a href="#">{{ panel.offset/panel.size + 1}}</a>
							</li>
							<li class="paginate_button disabled" aria-controls="DataTables_Table_0" tabindex="0" id="DataTables_Table_0_ellipsis">
								<a href="#">of</a>
							</li>
							<li class="paginate_button " aria-controls="DataTables_Table_0" tabindex="0">
								<a href="#">{{(data.length / panel.size )  | number:0}}</a>
							</li>
							<li class="paginate_button next" ng-class=" {'disabled' : data.length > panel.offset+panel.size? false:true }" aria-controls="DataTables_Table_0" tabindex="0" id="DataTables_Table_0_next">
								<a href="#" ng-click="onPageNext()">Next</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>