<div ng-controller='tracks' ng-init="init()" ng-class="panel.class" >
	<div class="row-fluid" ng-if="ready">
		<div class="track-list col-xs-12 col-sm-12 col-md-12 col-lg-12 animated fadeIn">
			<div class="playing-track col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-left-0 padding-right-0">
				<ul class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-left-0 padding-right-0">
					<li class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-left-0 padding-right-0" ng-repeat="item in tracks  | orderBy:'playback_count':true" style="list-style: none;" ng-class-even="'even'" ng-class-odd="'odd'" >
						<a ng-href-void="" ng-click="onTrackClick($event, item)" ng-class="{ 'active' : item.active }"> <div class="list-overlay-button add"></div>
							<div ng-class="{ 'track-artwork': item.artwork_url, 'track-avatar': !item.artwork_url && item.user }" class="padding-left-0 padding-right-0" data-ng-style="{ 'background-image':'url({{ item.artwork_url || item.user.avatar_url }})' }">
							<div class="track-username">
								{{ item.user.username }}
							</div>
							<div class="track-title">
								{{ item.title }}
							</div> <label class="track-genre">{{ item.genre }}</label>
						</div></a>
						<span class="pull-right font-xs padding-5 padding-bottom-0 padding-top-0">{{ item.duration.toHHMMSS() }}</span>
						<span class="pull-left font-xs padding-5 padding-bottom-0 padding-top-0"><i class="fa fa-play font-xs"></i>&nbsp;{{ item.playback_count.numberWithCommas() }}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>