<div ng-controller='alarms' ng-init="init()" style="margin-bottom: 10px" ng-cloak>
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cbutton cbutton--effect-tamara" ng-click="onAlarmSetting()">
			<div id="clock" class="dark">
				<div class="display">
					<div class="weekdays"></div>
					<div class="ampm"></div>
					<div class="alarm" ng-class="{ 'active': alarmActive }"></div>
					<div class="digits"></div>
				</div>
			</div>
		</div>
		<div class="smart-form row">
			<form id="alarm-setting-form" ng-show="alarmActive" class="form-horizontal" role="form" name="alarmSettingForm" ng-class="{ 'active': alarmActive }">
				<section class="label col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label class="text-center">Your audio stream will be scheduled automatically</label>
				</section>
				<section class="label col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<cron-selection output="alarmValue" init="alarmValue"></cron-selection>
				</section>
				<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-10">
					<label class="label">&nbsp;</label>
					<label class="label"> <a ng-click="onUpdateAlarm($event, alarmValue)" ng-href-void="" class="cbutton cbutton--effect-tamara btn-well button"><span class="padding-10">Update</span></a> </label>
				</section>
			</form>
		</div>
	</div>
</div>