.hitsmap-background {
	fill: none;
	pointer-events: all;
}
.hitsmap-options {
	padding: 5px;
	margin-right: 15px;
	margin-bottom: 0px;
}
.hitsmap-options label {
	margin: 0px 0px 0px 10px !important;
}
.hitsmap-options span {
	white-space: nowrap;
}
/* this is actually should be in bootstrap */
.form-inline .checkbox {
	display: inline-block;
}

.editor-option .sp-replacer {
	margin-bottom: 10px;
}

svg {
	font: 10px sans-serif;
}

.caption {
	font-weight: bold;
}

.key path {
	display: none;
}

.key line {
	stroke: #000;
	shape-rendering: crispEdges;
}

.county {
	fill: #eeeeee;
}
.subunit-boundary {
	fill: none;
	/*stroke: #777;
	 stroke-width: 0.1px;
	 stroke-linecap: round;*/
}

.subunit-boundary.IRL {
	fill: none;
	/*stroke: #777;*/
}

.density-range {width: 60%; float: left}
.email-filter {width: 39%; float: left}
div.hitsmap-content{float:left; width:100%;}

div.loading {
    width: 98%;
    float: right;
    font-size: 40px;
    padding: 20px;
}