<div class="superbox-show superbox-current-box">
	<div class="smart-form col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<fieldset>
			<form enctype="multipart/form-data" method="post" name="submitSuperboxForm" class="ng-pristine ng-invalid ng-invalid-required">
				<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label class="label font-sm">Speaker Name</label>
					<label class="input">
						<input type="text" class="input-xs ng-pristine ng-animate ng-invalid ng-invalid-required" ng-model="details.name" required />
					</label>
				</section>
				<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label class="label font-sm">Speaker Mode</label>
					<select name="mode" ng-model="details.mode">
						<option value="0">Muted (Silence)</option>
						<option value="1">Stereo 2.0 (Left - Right)</option>
						<option value="2">Stereo 2.1 (Left - Front - Right)</option>
					</select>
				</section>
				<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<label class="label font-sm">Unique ID</label>
					<label class="label">
						<input type="text" class="input-xs ng-pristine ng-animate ng-invalid ng-invalid-required" ng-value="details.uid" required />
					</label>
				</section>
				<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<p style="padding-top: 20px;">
						<a ng-href-void="" style="padding-left:10px; padding-right: 10px" class="btn btn-small button" ng-class="{ 'special': selectedUid == details.uid }" alt="Activate" ng-click="onSuperboxClose($event, details, true)">Choose this device</a>
					</p>
				</section>
			</form>
		</fieldset>
	</div>
	<div class="superbox-close txt-color-white" ng-click="onSuperboxClose($event, details)">
		<i class="fa fa-times fa-lg"></i>
	</div>
</div>