<div ng-if="item._source.title">
	<div class="col-md-2 col-lg-2" ng-if="item._source.user">
		<img ng-src="{{ item._source.user.profile_image_url_https || item._source.user.profile_image_url_http || 'img/avatars/anonymous.jpg'}}" class="img-responsive" alt="styles/img" style="margin: auto;"/>
	</div>
	<div class="col-md-10 col-lg-10">
		<h3 class="margin-top-0"><a target="_blank" href="{{ item._source.url }}" style="cursor: pointer;text-decoration: none;">{{ item._source.title }}</a></h3>
		<p>
			<strong>Date:</strong>&nbsp;<i>{{ getFormattedDate(item._source["@timestamp"]) }}</i>
			<br>
			<strong ng-if="item._type">Topic:</strong>&nbsp;<i>{{ item._type }}</i>
			<br>
			<strong ng-if="item._source.subject">Sub-Topic:</strong>&nbsp;<i>{{ item._source.subject }}</i>
			<br>
			<strong ng-if="item._source.user">Posted By:</strong>&nbsp;<i>{{ item._source.user.name }}</i>
			<br>
		</p>
		<p>
			{{ item._source.content | word_break:50:"..." }}
		</p>
		<p ng-if="item._source.url && item._source.url.length > 0" >
			<a target="_blank" href="{{ item._source.url }}" style="cursor: pointer;text-decoration: none;">Read more</a>
		</p>
		<p ng-if="item._source.link && item._source.link.length > 0" >
			<ul class="links">
				<li ng-repeat="lnk in item._source.link" style="list-style: none">
					<i class="fa fa-link"></i>&nbsp;<a target="_blank" href="{{ lnk.url }}" style="cursor: pointer;text-decoration: none;">{{ lnk.url }}</a>
				</li>
			</ul>
		</p>
		<div ng-if="item._source.attachments && item._source.attachments.length > 0" class="forum-attachment">
			{{ item._source.attachments.length }}&nbsp;<span>Attachment</span>{{ item._source.attachments.length > 1? "s": "" }}
			<ul class="inbox-download-list">
				<li ng-repeat="referObj in item._source.attachments">
					<file-info url="referObj.url" />
				</li>
			</ul>
		</div>
	</div>
	<hr style="width:99%" ng-hide="$last"/>
</div>