<div ng-controller="articles" ng-init="init()" class="neopostlabs-articles">
	<style>
		.neopostlabs-articles .panel-group .panel-title a {		
			color: #657AB1;
		}
		.neopostlabs-articles .jarviswidget .widget-body {
			min-height: 50px;
		}
	</style>
	<div class="panel-group smart-accordion-default">
		<div ng-repeat="item in accordions" class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"><a data-toggle="collapse" ng-class="{collapsed: $index > 0 }" href="{{ '#neopostlabs-accordion-articles-' + getId(item.key) }}"> <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i> <strong ng-bind-html="item.key"></strong> </a></h4>
			</div>
			<div id="neopostlabs-accordion-articles-{{ getId(item.key) }}" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="row" ng-repeat="article in item.top_news_hits.hits.hits">
						<div class="col-xs-2 col-sm-1">
							<time datetime="2014-09-20" class="icon">
								<strong>{{ article._source["@timestamp"] | date:"MMM" }}</strong>
								<span>{{ article._source["@timestamp"] | date:"dd" }}</span>
							</time>
						</div>
						<div class="col-xs-10 col-sm-11">
							<h6 class="no-margin"><a href-void>{{ article._source.title }}</a></h6>
							<p>
								{{ article._source.content | word_break:50:"..." }}
							</p>
							<p ng-if="article._source.url && article._source.url.length > 0" >
								<a target="_blank" href="{{ article._source.url }}">Read more</a>
							</p>
							<div ng-if="article._source.link.length > 0" class="forum-attachment">
								{{ article._source.link.length }}&nbsp;<span>Reference</span>{{ article._source.link.length > 1? "s": "" }}
								<ul class="inbox-download-list">
									<li ng-repeat="referObj in article._source.link">
										<file-info url="referObj.url" />
									</li>
								</ul>
							</div>							
						</div>
						<div class="col-sm-12" ng-hide="item.top_news_hits.hits.hits.length == $index+1">
							<hr>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>